/* 
    Pequeña convencion para llevar un mayor orden en los estilos
    1.- Posicionamiento --> static, absolute, relative, fixed
    2.- Modelo de caja (Box model) --> margin, border, padding, content
    3.- Tipografía --> tipos, tamaños de fuente, etc
    4.- Estilos visuales --> box-shadow, border-radius, gradient, etc
    5.- Otros --> reglas CSS y más
*/

:root{
    /* Colores */
	--font-sans:'DM Sans', sans-serif;
	--font-inter:'Inter', sans-serif;
	--size-300:300;
	--size-400:400;
	--size-500:500;
	--size-700:700;
	--background:#E5E5E5;
	--linear-gradient:207.8deg, #201E1C 16.69%, #F7931A 100%;
	--bitcoin-orage:#F7931A;
	--soft-orange:#FFE9D5;
	--secondary-blue:#1A9AF7; 
	--soft-blue:#E7F5FF;
	--warm-black:#201E1C;
	--warm-blackplus1:#282623;
	--grey:#BABABA;
	--off-white:#FAF8F7;
	--just-white:#FFFFFF;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
	scroll-behavior: smooth;
}

header{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-width: 320px;
	height: 334px;
	text-align: center;
	background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img{
	width: 150px;
	height: 24px;
	margin-top: 60px;
}

.header--title-container{
	width: 90%;
	min-width: 288px;
	max-width: 900px;
	height: 218px;
	margin-top: 40px;
	text-align: center;
}

.header--title-container h1{
	font: 2.4rem;
	font-weight: bold;
	line-height: 2.6rem;
	color: var(--just-white);
}

.header--title-container p{
	margin-top: 25px;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.8rem;
	color: var(--soft-orange);
}

.header--title-container .header--button{
	position: absolute;
	left: calc(50% - 115px);
	top: 270px;
	display: block;
	margin-top: 35px;
	padding: 15px;
	width: 229px;
	height: 48px;
	background-color: var(--off-white);
	box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
	border: none;
	border-radius: 5px;
	font-size: 1.4rem;
	font-weight: bold;
	text-decoration: none;
	color: var(--warm-black);
}

.header--button span{
	display: inline-block;
	width: 13px;
	height: 8px;
	margin-left: 10px;
	background-image: url("../assets/icons/down-arrow.svg");
}

main{
	width: 100%;
	min-width: 320px;
	background-color: var(--off-white);
}

.main-exchange-container{
	width: 100%;
	height: auto;
	padding-top: 80px;
	padding-bottom: 30px;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.main-exchange-container__backgroundImg{
	width: 200px;
	height: 200px;
	margin: 0 auto;
	background-image: url("../assets/img/Bitcoin.svg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.main-exchange-container__text-container {
	width: 90%;
	min-width: 288px;
	max-width: 900px;
	margin: 0 auto;
}

.main-exchange-container__text-container h2, .plans-container__text .plans-container__title{
	margin-bottom: 30px;
	font-weight: bold;
	font-size: 2.4rem;
	line-height: 2.6rem;
	color: var(--warm-black);
}

.main-exchange-container__text-container p, .plans-container__text .plans-container__info, .plans-container .plans-container__card-info {
	font-weight: 500;
	font-size: 1.4rem;
	line-height: 1.8rem;
	color: #757575;
}

.main-exchange-container__table-container{
	margin-top: 30px;

}

.main-exchange-container__currency-table{
	width: 70%;
	min-width: 235px;
	max-width: 500px;
	height: 360px;
	margin: 0 auto;
	font-family: "Inter", sans-serif;
}

.main-exchange-container__currency-table .main-exchange-container__currency-table-title{
	margin-bottom: 15px;
	font-size: 1.8rem;
	font-weight: bold;
	line-height: 2.3rem;
	color: #FF9536;
}

.main-exchange-container__currency-table-container {
	width: 90%;
	min-width: 230px;
	max-width: 300px;
	height: 160px;
	margin: 0 auto;
}

.main-exchange-container__currency-table-container table{
	width: 100%;
	height: 100%;
}

.main-exchange-container__currency-table-container td{
	width: 50%;
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 1.9rem;
	color: var(--grey);
	background-color: var(--just-white);
}

.main-exchange-container .table__top-left{
	border-radius: 15px 0 0 0;
}

.main-exchange-container .table__top-right{
	border-radius: 0 15px 0 0;	
}

.main-exchange-container .table__bottom-left{
	border-radius: 0 0 0 15px ;
}

.main-exchange-container .table__bottom-right{
	border-radius: 0 0 15px 0;
}

.main-exchange-container .table__right{
	font-size: 1.4rem;
	font-size: normal;
	line-height: 1.7rem;
	color: #757575;
}

.main-exchange-container .span--down{
	display: inline-block;
	margin-left: 11px;
	width: 15px;
	height: 15px;
	background-image: url("../assets/icons/trending-down.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.main-exchange-container .span--up{
	display: inline-block;
	margin-left: 11px;
	width: 15px;
	height: 15px;
	background-image: url("../assets/icons/trending-up.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.main-exchange-container__currency-table .actualization-container{
	width: 173px;
	height: 31px;
	margin: 0 auto;
	margin-top: 15px;
	padding: 7px;
	background-color: var(--soft-orange);
	border-radius: 8px;
}

.main-exchange-container__currency-table .actualization-container p{
	font-size: 1.2rem;
	line-height: 1.9rem;
	color: var(--warm-black);
}

/* 
    Pequeña convencion para llevar un mayor orden en los estilos
    1.- Posicionamiento --> static, absolute, relative, fixed
    2.- Modelo de caja (Box model) --> margin, border, padding, content
    3.- Tipografía --> tipos, tamaños de fuente, etc
    4.- Estilos visuales --> box-shadow, border-radius, gradient, etc
    5.- Otros --> reglas CSS y más
*/

.benefits-container{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
	width: 100%;
	min-width: 320px;
	height: auto;
	text-align: center;
	background-color: var(--warm-black);
}

.benefits-container .benefits-container__peanut-icon{
	display: inline-block;
	position: relative;
	top: -12px;
	width: 38px;
	height: 24px;
	margin: 0 auto;
	background-image: url("../assets/icons/batata.svg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.benefits-container .benefits-container__precards{
	width: 90%;
	min-width: 288px;
	max-width: 600px;
	margin: 0 auto;
}


.benefits-container .benefits-container__title, .try-it-container__text{
	margin-top: 26px;
	font-weight: 700;
	font-size: 2.4rem;
	line-height: 2.6rem;
	color: var(--just-white)
}

.benefits-container .benefits-container__info{
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: 500;
	font-size: 1.4rem;
	line-height: 1.8rem;
	color: grey;
}

.benefits-container .benefits-container__card{
	width: 90%;
	min-width: 288px;
	max-width: 500px;
	height: auto;
	padding: 10px 15px;
	margin: 12px auto;
	text-align: left;
	background-color: var(--warm-blackplus1);


}

.benefits-container__card .benefits-container__title--small{
	font-size: 1.8rem;
	line-height: 1.8rem;
}

.benefits-container__card .benefits-container__icon{
	position: relative;
	left: 18px;
	top: 16px;
	width: 20px;
	height: 20px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.benefits-container__icon--clock{
	background-image: url("../assets/icons/clock.svg");
}

.benefits-container__icon--eye{
	background-image: url("../assets/icons/eye.svg");
}

.benefits-container__icon--money{
	background-image: url("../assets/icons/dollar-sign.svg");
}

.benefits-container__icon--check{
	background-image: url("../assets/icons/check-circle.svg");
}

.try-it-container{
	width: 100%;
	min-width: 320px;
	height: 50vh;
	background-image: url("../assets/img/bitcoinbaby2x.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.try-it-container__text{
	margin: 0;
	padding-top: 45px;
	text-align: center;
}

.plans-container{
	width: 100%;
	min-width: 320px;
	height: 537px;
	padding-top: 20px;
	padding-bottom: 30px;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: var(--background);
}

.plans-container .plans-container__text{
	width: 100%;
	min-height: 100px;
	padding: 15px 10px 25px;
	margin-bottom:;
}

.plans-container .plans-container__cards-container{
	width: 100%;
	height: 361px;
	padding-bottom: 30px;
}

.plans-container .plans-container__card{
	width: 70%;
	min-width: 198px;
	max-width: 300px;
	min-height: 220px;
	margin: 0 auto;
	background-color: var(--just-white);
	border-radius: 10px;
	box-shadow: 8px 8px 25px -4px rgba(0,0,0,0.67);
}

.plans-container .plans-container__recommended{
	position: relative;
	width: 120px;
	height: 34px;
	top: -13px;
	margin: 0 auto;
	padding-top: 10px;
	font: var(--font-inter), var(--font-sans);
	font-weight: 700;
	font-size: 1.4rem;
	line-height: 1.5rem;
	color: var(--just-white);
	background-color: var(--bitcoin-orage);
	border-radius: 8px;
}

.plans-container .plans-container__card-title{
	font-weight: 500;
	font-size: 1.4rem;
	line-height: 1.8rem;
	color: var(--warm-black);
}

.plans-container .plans-container__card-price{
	display: inline-block;
	font: var(--font-inter), var(--font-sans);
	font-weight: bold;
	font-size: 5.2rem;
	line-height: 6.293rem;
	color: var(--warm-black);
}

.plans-container .plans-container__dollar-sign{
	position: relative;
	top: -33px;
	left: 0px;
	font-weight: bold;
	font-size: 1.2rem;
	line-height: 1.5rem;
}

.plans-container .plans-container__card-info--small{
	font-size: 1.2rem;
}

.plans-container .plans-container__card-button{
	font-family: DM Sans;
	width: 151px;
	height: 48px;
	font-weight: 700;
	align-items: center;
	margin: 15px 0;
	justify-content: center;
	text-align: center;
	border: 2px solid orange;
	border-radius: 4px;	
	background: var(--off-white);
}

.plans-container .plans-container__card-button p{
	position: relative;
	top: -6px;
	padding: 0px;
	margin: 0px;
}

.plans-container .plans-container__button-arrow{
	display: inline-block;
	position: relative;
	top: 8px;
	left: 9px;
	width: 24px;
	height: 24px;
	background-image: url("../assets/icons/orange-right-arrow.svg");
	background-repeat: no-repeat;
	background-position: center;
}