/* 
    Pequeña convencion para llevar un mayor orden en los estilos
    1.- Posicionamiento --> static, absolute, relative, fixed
    2.- Modelo de caja (Box model) --> margin, border, padding, content
    3.- Tipografía --> tipos, tamaños de fuente, etc
    4.- Estilos visuales --> box-shadow, border-radius, gradient, etc
    5.- Otros --> reglas CSS y más
*/

:root{
    /* Colores */
	--font-sans:'DM Sans', sans-serif;
	--font-inter:'Inter', sans-serif;
	--size-300:300;
	--size-400:400;
	--size-500:500;
	--size-700:700;
	--background:#E5E5E5;
	--linear-gradient:207.8deg, #201E1C 16.69%, #F7931A 100%;
	--bitcoin-orage:#F7931A;
	--soft-orange:#FFE9D5;
	--secondary-blue:#1A9AF7; 
	--soft-blue:#E7F5FF;
	--warm-black:#201E1C;
	--warm-blackplus1:#282623;
	--grey:#BABABA;
	--off-white:#FAF8F7;
	--just-white:#FFFFFF;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

header{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-width: 320px;
	height: 334px;
	text-align: center;
	background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img{
	width: 150px;
	height: 24px;
	margin-top: 60px;
}

.header--title-container{
	width: 90%;
	min-width: 288px;
	max-width: 900px;
	height: 218px;
	margin-top: 40px;
	text-align: center;
}

.header--title-container h1{
	font: 2.4rem;
	font-weight: bold;
	line-height: 2.6rem;
	color: var(--just-white);
}

.header--title-container p{
	margin-top: 25px;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.8rem;
	color: var(--soft-orange);
}

.header--title-container .header--button{
	position: absolute;
	left: calc(50% - 115px);
	top: 270px;
	display: block;
	margin-top: 35px;
	padding: 15px;
	width: 229px;
	height: 48px;
	background-color: var(--off-white);
	box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
	border: none;
	border-radius: 5px;
	font-size: 1.4rem;
	font-weight: bold;
	text-decoration: none;
	color: var(--warm-black);
}

.header--button span{
	display: inline-block;
	width: 13px;
	height: 8px;
	margin-left: 10px;
	background-image: url("../assets/icons/down-arrow.svg");
}

main{
	width: 100%;
	min-width: 320px;
	background-color: var(--off-white);
}

.main-exchange-container{
	width: 100%;
	height: auto;
	padding-top: 80px;
	padding-bottom: 30px;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.main-exchange-container__backgroundImg{
	width: 200px;
	height: 200px;
	margin: 0 auto;
	background-image: url("../assets/img/Bitcoin.svg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.main-exchange-container__text-container {
	width: 90%;
	min-width: 288px;
	max-width: 900px;
	margin: 0 auto;
}

.main-exchange-container__text-container h2{
	margin-bottom: 30px;
	font-weight: bold;
	font-size: 2.4rem;
	line-height: 2.6rem;
	color: var(--warm-black);
}

.main-exchange-container__text-container p{
	font-weight: 500;
	font-size: 1.4rem;
	line-height: 1.8rem;
	color: #757575;
}

.main-exchange-container__table-container{
	margin-top: 30px;

}

.main-exchange-container__currency-table{
	width: 70%;
	min-width: 235px;
	max-width: 500px;
	height: 360px;
	margin: 0 auto;
	font-family: "Inter", sans-serif;
}

.main-exchange-container__currency-table .main-exchange-container__currency-table-title{
	margin-bottom: 15px;
	font-size: 1.8rem;
	font-weight: bold;
	line-height: 2.3rem;
	color: #FF9536;
}

.main-exchange-container__currency-table-container {
	width: 90%;
	min-width: 230px;
	max-width: 300px;
	height: 160px;
	margin: 0 auto;
}

.main-exchange-container__currency-table-container table{
	width: 100%;
	height: 100%;
}

.main-exchange-container__currency-table-container td{
	width: 50%;
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 1.9rem;
	color: var(--grey);
	background-color: var(--just-white);
}

.main-exchange-container .table__top-left{
	border-radius: 15px 0 0 0;
}

.main-exchange-container .table__top-right{
	border-radius: 0 15px 0 0;	
}

.main-exchange-container .table__bottom-left{
	border-radius: 0 0 0 15px ;
}

.main-exchange-container .table__bottom-right{
	border-radius: 0 0 15px 0;
}

.main-exchange-container .table__right{
	font-size: 1.4rem;
	font-size: normal;
	line-height: 1.7rem;
	color: #757575;
}

.main-exchange-container .span--down{
	display: inline-block;
	margin-left: 11px;
	width: 15px;
	height: 15px;
	background-image: url("../assets/icons/trending-down.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.main-exchange-container .span--up{
	display: inline-block;
	margin-left: 11px;
	width: 15px;
	height: 15px;
	background-image: url("../assets/icons/trending-up.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.main-exchange-container__currency-table .actualization-container{
	width: 173px;
	height: 31px;
	margin: 0 auto;
	margin-top: 15px;
	padding: 7px;
	background-color: var(--soft-orange);
	border-radius: 8px;
}

.main-exchange-container__currency-table .actualization-container p{
	font-size: 1.2rem;
	line-height: 1.9rem;
	color: var(--warm-black);
}

